body {
    font-family: 'Lato', serif;
    color: white;
}

#height, #weight, #age {
    color:black;
    border-radius: 10px;
    font-size: 24px;
}

#diabetes {
    float: right;
}

.questions {
    margin-left:10px;
}
#submit {
    color: #0b446b;
    font-size: 18px;
    background-color: #e3826b;
    font-family: 'Lato', serif;
    border-radius: 10px;
    padding: 10px;
    transition-duration: 1s;
}

input[type="checkbox"] {
    zoom: 1.5;
}

#submit:hover {
    color:#e3826b;
    background-color:#0b446b;
    font-family: 'Lato', serif;
    border-radius: 10px;
    padding: 10px;
}

.indicator_label {
    font-family: 'Lato', serif;
    color: white;
    font-size: 24px;
}

body {
    background: black;
}

h1 {
    color: white;
    font-family: 'Merriweather';
}

.bkgdImage{
    opacity: 0.5;
}

.header {
    color: transparent;
    font-size: 6em;
    -webkit-text-stroke: 0.3px white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 250px;
}